{{ "collage.css" | asset_url | stylesheet_tag }}

{% if section.blocks != blank %}
  <div class="collage" style="--collage-pt: {{ section.settings.collage_pt | append: 'px' }}; --collage-pb: {{ section.settings.collage_pb |append: 'px'  }}">
    <div class="container">
      <div class="row collage_row">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'image' %}
            <div class="col collage__img aspect-square ">
              {% if block.settings.collage_img != blank %}
                <img
                  src="{{ block.settings.collage_img  | img_url: 'master'}}"
                  alt="collage img"
                  class="collage__img w-100 h-100">

              {% else %}
                <div class="collage__img overlay w-100 h-100">
                  {{ 'collection-2' | placeholder_svg_tag }}
                </div>
              {% endif %}


            </div>
            {% when 'collage_content' %}
            <div class="col col__content">
              <div class="collage__content h-100">
                <div class="collage__text">
                  <h2 class="collage__title heading-3 heading-1-lg ">
                    {{ block.settings.collage_title | upcase }}
                  </h2>
                  {{ block.settings.collage_subtext }}
                </div>
                <div class="collage__action">
                  {% if block.settings.collage_link != blank %}
                    <a href="{{ block.settings.collage_link}}" class="btn collage__btn btn--white">
                      {{ block.settings.collage_btn-name | upcase }}</a>

                  {% else %}
                    <div class="btn btn--white collage__btn">
                      {{ block.settings.collage_btn-name | upcase }}
                    </div>
                  {% endif %}
                </div>
              </div>

            </div>
            {% when 'video' %}
            <div class="collage__media col relative">
              <div class="collage__video aspect-square h-100  w-100">
                <iframe
                  src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}"
                  class="iframe-video h-100 w-100"
                  allow="autoplay; encrypted-media"
                  title="video"
                  allowfullscreen></iframe>
              </div>

              {% if block.settings.cover_image != blank %}
                <div class="collage__thumbnail--video absolute h-100 pointer">
                  <img
                    class="collage__thumbnail--img h-100 w-100"
                    src="{{ block.settings.cover_image | img_url: 'master' }}"
                    alt="thumbnail">
                  <div class="icon-player absolute">
                    {% render 'icon-player' %}
                  </div>
                </div>
              {% endif %}
            </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

<script>
  const thumbnailVideo = document.querySelector(".collage__thumbnail--video")
  const iframe = document.querySelector(".iframe-video")

  if (thumbnailVideo) {
    thumbnailVideo.addEventListener('click', (e) => {
      iframe.setAttribute('src', iframe.getAttribute('src') + "?autoplay=1")
      thumbnailVideo.style.display = "none"
    })
  }
</script>
{% schema %}
  {
    "name": "collage",
    "settings": [
      {
        "type": "range",
        "min": 0,
        "id": "collage_pt",
        "max": 100,
        "step": 2,
        "default": 40,
        "label": "padding top"
      }, {
        "type": "range",
        "min": 0,
        "id": "collage_pb",
        "max": 100,
        "step": 2,
        "default": 40,
        "label": "padding bottom"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "collage image",
        "settings": [
          {
            "type": "image_picker",
            "id": "collage_img",
            "label": "Pick image"
          }
        ]

      }, {
        "type": "collage_content",
        "name": "collage content",
        "settings": [
          {
            "type": "text",
            "id": "collage_title",
            "label": "Enter title",
            "default": "we focus on what really important"
          }, {
            "type": "richtext",
            "id": "collage_subtext",
            "label": "enter sub text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et doloreLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor consecte</p>"
          }, {
            "type": "text",
            "id": "collage_btn-name",
            "label": "Enter name button",
            "default": "name btn"
          }, {
            "type": "url",
            "id": "collage_link",
            "label": "Link button"
          }
        ]

      }, {
        "type": "video",
        "name": "collage video",
        "settings": [
          {
            "type": "image_picker",
            "id": "cover_image",
            "label": "Pick image"
          }, {
            "type": "video_url",
            "id": "video_url",
            "accept": [
              "youtube", "vimeo"
            ],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
            "label": "URL",
            "placeholder": "Past a link"
          }
        ]
      }
    ],
    "max_blocks": 2,
    "presets": [
      {
        "name": "collage",
        "blocks": [
          {
            "type": "video"
          }, {
            "type": "collage_content"
          }
        ]
      }
    ]
  }
{% endschema %}